 :root {
  --bg: #141414;
  --fg: #f5f5f5;
  --border: #444;
  --btn-bg: #141414;
  --btn-fg: #f5f5f5;
  --btn-border: #444;
  --btn-hover-bg: #333;
  --btn-hover-fg: #ffffff;
  --btn-hover-border: #ffffff;
  --input-bg: #141414;
  --input-fg: #f5f5f5;
  --input-border: #444;
  --subtitle: #7c8a7c;
  --feedback-color: #ffffff;
 }
body.light {
   --bg: #fff;
   --fg: #141414;
   --border: #bbb;
   --btn-bg: #fff;
   --btn-fg: #141414;
   --btn-border: #141414;
   --btn-hover-bg: #141414;
   --btn-hover-fg: #fff;
   --btn-hover-border: #fffef9;
   --input-bg: #fff;
   --input-fg: #141414;
   --input-border: #bbb;
   --subtitle: #7c8a7c;
   --feedback-color: #222;
 }
body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Noto Sans TC', Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  transition: background 0.3s, color 0.3s;
}
